@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Colors */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  background-color: #E5E5E5;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  margin: 0px;
  overflow-x: hidden;
}

header, footer, .main__company-story {
  background-color: #011827;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 4px;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 19px;
  padding-top: 19px;
}
.button--red {
  background-color: #E3170A;
  color: #FFFFFF;
}
.button--blue {
  background-color: #8ACFE5;
  color: #011827;
}
.button--on-dark {
  background-color: transparent;
  color: #8ACFE5;
  border: 2px solid #8ACFE5;
}
.button--red--small {
  font-size: 1.8rem;
  padding: 12px 34px;
  display: inline-block;
  margin-left: 160px;
  margin-right: 10px;
  margin-bottom: 12px;
}
.button__online-challanges {
  color: #36769D;
  font-weight: 700;
  font-size: 1.6rem;
}
.button__on-site-challenges {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 52px;
  padding-right: 53px;
  width: 15ch;
}

.header {
  padding: 27px;
}
.header__banner {
  display: flex;
}
.header__logo {
  height: 82px;
  width: 128px;
}
.header__hamburger-figure {
  font-size: 0rem;
  max-width: 52px;
  position: absolute;
  right: -10px;
  top: 28px;
}
.header__hamburger-lines {
  padding: 3px;
}
.header__site-heading {
  font-size: 2.4rem;
  margin: 0px 10px;
  width: 7ch;
}
.header__menu-list {
  display: flex;
  display: none;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}
.header__menu-items a {
  text-decoration: none;
}

.main {
  text-align: center;
}
.main__top-figure {
  margin: 0;
}
.main__top-img {
  max-height: fit-content;
  max-width: 100vw;
  object-fit: contain;
}
.main__cards-heading {
  font-size: 3.2rem;
  font-weight: 400;
}
.main__ul {
  display: flex;
  overflow: hidden;
}
.main__ul li {
  display: inline;
  margin: 80px;
}
.main__ul p {
  display: inline;
}
.main__ul cite {
  display: inline;
}
.main__ul a {
  display: inline-block;
}
.main__company-story {
  text-align: center;
  padding: 90px 20px 50px;
  /*         a {
              border-radius: 4px;            
              border: 2px solid map-get($colors, linkColorsecondary );
              color: map-get($colors, linkColorsecondary );
              display: inline-block;
              font-size: 2.4rem;
              font-weight: 700;
              margin: 60px 0 50px;
              padding: 19px 55px;
              text-decoration: none;
          } */
}
.main__company-story p {
  text-align: center;
  font-size: 2.8rem;
  max-width: 40ch;
  margin: auto;
}
.main__company-story a {
  display: inline-block;
  margin: 60px 0 50px;
  padding-left: 55px;
  padding-right: 55px;
}
.main__book-on-site {
  text-align: left;
}
.main__book-on-site figure {
  margin: 0;
}
.main__book-on-site figure img {
  height: 100%;
  width: 100%;
}
.main__book-on-site h2 {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 20px 24px 20px 20px;
}
.main__book-on-site p {
  margin: 20px;
}
.main__book-on-site a {
  margin: 40px 20px 60px 20px;
  display: inline-block;
  padding-left: 52px;
  padding-right: 53px;
}

.cards {
  display: flex;
  padding: 30px;
}
.cards li {
  padding: 20px;
}

.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  /* border-radius: 8px 8px 0px 0px; */
  text-align: left;
  width: 363px;
}
.card__img {
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.card h2 {
  padding: 10px 38px 0px 17px;
  margin: 0;
  font-size: 2.8rem;
  font-weight: 400;
}
.card__ul {
  display: flex;
  text-align: left;
  padding-left: 17px;
}
.card__ul li {
  font-size: 1.4rem;
  padding: 4px;
}
.card__ul li:nth-child(6) {
  font-size: 1.4rem;
  padding-left: 10px;
}
.card p {
  display: inline-block;
  padding: 17px;
  font-size: 1.8rem;
}

footer {
  font-size: 1.8rem;
  padding: 21px;
}
footer h3 {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 40px;
}
footer ul {
  margin-top: 0px;
  margin-bottom: 20px;
}
footer li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .sitemap li:nth-child(4) {
  margin-top: 20px;
}
