@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Colors */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  background-color: #E5E5E5;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  margin: 0px;
  overflow-x: hidden;
}

header, footer, .main__company-story {
  background-color: #011827;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* .button {
    border-radius: 4px;
    font-size: 2.4rem;
    font-weight: 700;
    padding-bottom: 19px;
    padding-top: 19px;

    &--red {
        background-color: map-get($colors, primary-red);
        color: map-get($colors, secondary-white);
    }

    &--blue {
        background-color: map-get($colors, secondary-blue);
        color: map-get($colors, primary-blue);
    }

    &--on-dark {
        background-color: transparent;
        color: map-get($colors, secondary-blue);
        border: 2px solid map-get($colors, secondary-blue);
    }

    &--red--small {
        font-size: 1.8rem;
        padding: 12px 34px;
        display: inline-block;
        margin-left: 160px;
        margin-right: 10px;
        margin-bottom: 12px;
    }

    &__online-challanges {
        color: map-get($colors, accent-blue);
        font-weight: 700;
        font-size: 1.6rem;
    }

    &__on-site-challenges {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 52px;
        padding-right: 53px;
        width: 15ch;
    }
}
 */
.button {
  border-radius: 4px;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 19px;
  padding-top: 19px;
  text-decoration: none;
}
.button__red {
  background-color: #E3170A;
  color: #FFFFFF;
}
.button__red--small {
  font-size: 1.8rem;
  padding: 12px 34px;
}
.button__blue {
  background-color: #8ACFE5;
  color: #011827;
}
.button__on-dark {
  background-color: transparent;
  color: #8ACFE5;
  border: 2px solid #8ACFE5;
}
.button__online-challanges {
  color: #36769D;
  font-weight: 700;
  font-size: 1.6rem;
}
.button__on-site-challenges {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 52px;
  padding-right: 53px;
  width: 15ch;
}

.header {
  padding: 27px;
}
.header__banner {
  display: flex;
}
.header__logo {
  height: 82px;
  width: 128px;
}
.header__site-heading {
  font-size: 2.4rem;
  margin: 0px 10px;
  width: 7ch;
}

.header-nav__hamburger-figure {
  font-size: 0rem;
  max-width: 52px;
  position: absolute;
  right: -10px;
  top: 28px;
}
.header-nav__hamburger-lines {
  padding: 3px;
}
.header-nav__menu-list {
  display: flex;
  display: none;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
}
.header-nav__menu-link {
  color: #FFFFFF;
  text-decoration: none;
}

.main {
  text-align: center;
}
.main__top-figure {
  margin: 0;
}
.main__top-img {
  max-height: fit-content;
  max-width: 100vw;
  object-fit: contain;
}
.main__cards-heading {
  font-size: 3.2rem;
  font-weight: 400;
}
.main__ul {
  display: flex;
  overflow: hidden;
}
.main__ul li {
  display: inline;
  margin: 80px;
}
.main__ul p {
  display: inline;
}
.main__ul cite {
  display: inline;
}
.main__ul a {
  display: inline-block;
}
.main__company-story {
  text-align: center;
  padding: 90px 20px 50px;
  /*         a {
              border-radius: 4px;            
              border: 2px solid map-get($colors, linkColorsecondary );
              color: map-get($colors, linkColorsecondary );
              display: inline-block;
              font-size: 2.4rem;
              font-weight: 700;
              margin: 60px 0 50px;
              padding: 19px 55px;
              text-decoration: none;
          } */
}
.main__company-story p {
  text-align: center;
  font-size: 2.8rem;
  max-width: 40ch;
  margin: auto;
}
.main__company-story a {
  display: inline-block;
  margin: 60px 0 50px;
  padding-left: 55px;
  padding-right: 55px;
}
.main__book-on-site {
  text-align: left;
}
.main__book-on-site figure {
  margin: 0;
}
.main__book-on-site figure img {
  height: 100%;
  width: 100%;
}
.main__book-on-site h2 {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 20px 24px 20px 20px;
}
.main__book-on-site p {
  margin: 20px;
}
.main__book-on-site a {
  margin: 40px 20px 60px 20px;
  display: inline-block;
  padding-left: 52px;
  padding-right: 53px;
}

.room-booking-cards {
  display: flex;
  overflow: hidden;
  /* margin: auto; */
  max-width: 100vw;
  list-style-type: none;
  padding: 10px;
}

.room-booking-card {
  height: 446px;
  width: 363px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-left: 19px;
}
.room-booking-card__room-img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.room-booking-card__descriptions {
  margin: 12px 17px 61px 17px;
  color: black;
  text-align: left;
}
.room-booking-card__header {
  font-size: 2.8rem;
  font-weight: 400;
  margin: 0;
}
.room-booking-card__review-stars-ul {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1.4rem;
}
.room-booking-card__review-item {
  margin: 4.5px;
}
.room-booking-card__review-item--participants {
  margin-left: 10px;
  margin-top: 5px;
}
.room-booking-card__room-description {
  font-size: 1.8rem;
}
.room-booking-card__booking-button {
  position: relative;
  bottom: 34px;
  right: -70px;
}

footer {
  font-size: 1.8rem;
  padding: 21px;
  /* li a {
      color: map-get($colors, secondary-white);

  } */
  /* &__site-maps &__site-map-item:nth-(4){
      margin-top: 20px;
  } */
}
footer__menu-heading, footer__menu-footer-heading {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 40px;
}
footer__site-maps, footer__social-medias {
  margin-bottom: 20px;
  margin-top: 0px;
  list-style-position: inside;
  padding-left: 0px;
}
footer__site-map-item, footer__social-media-item {
  color: #FFFFFF;
}
