@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Colors */
$colors: (
    accent-blue: #36769D,    
    primary-black: #000000, 
    primary-blue: #011827,
    primary-gray: #B6BDB5,
    primary-red: #E3170A,
    primary-white: #FFFFFF,
    secondary-blue: #8ACFE5,
);



html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    background-color: map-get($colors, primary-white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}