@import './variables';
@import './functions';
@import './mixins';

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    background-color: color(primary-white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* max-width: 100vw;
    overflow: hidden; */
}

ul {
    list-style-type: none;
}

.header {
    background-color: color(primary-blue);
    padding: 24px;
}

.head-banner {
    display: flex;

    &__logo {
        height: 90px;
        width: 136px;
    }

    &__site-heading {
        color: color(primary-white);
        font-size: 2.4rem;
        margin: 0px 10px;
        width: 7ch;
        @include screen-size(pad) {
            font-size: 4rem;
            margin-top: 38px;
            width: 20ch;
        }
    }
}

.hamburger-figure {
    @include screen-size(pad) {
        display: none;
    }
    max-width: 52px;
    position: absolute;
    right: -10px;
    top: 18px;
}

.site-menu {
    display: none;
    justify-content: space-evenly;
    @include screen-size(pad) {
        display: flex;
        margin-top: 40px;
    }

    &__link {
        color: color(primary-white);
        font-weight: weight(bold);
        font-size: 2.4rem;
        text-decoration: none;
    }

    &__link:hover {
        color: color(secondary-blue);
    }
}

.main {
    margin: 0;
}

.main-top-figure {
    margin: 0;
    overflow: hidden;
    max-height: 468px;


    &__img {
        width: 100%;
    }
}

.room-challenges {
    justify-items: center;
    margin-bottom: 60px;
    text-align: center;
    

    &__button_on-site-top {
        @include buttons(blue);
        @include on-site-challenges;
        margin-bottom: 30px;
        margin-top: 37px;

        @include screen-size(pad) {
            bottom: 35px;
            left: 50%;
            margin: 0;
            position: relative;
        }
    }

    &__button-online-top {
        @include online-challenges;
        @include screen-size(pad) {
            @include buttons(red);
            bottom: 83px;
            left: -170px;
            padding-left: 57px;
            padding-right: 58px;
            position: relative;
        }
    }

    &__card-heading {
        font-size: 3.2rem;
        font-weight: weight(regular);
        @include screen-size (pad) {
            font-size: 3.6rem;
        }
    }

    &__button_on-site-bottom {
        @include buttons(blue);
        @include on-site-challenges;
        margin-bottom: 30px;
        margin-top: 37px;

        @include screen-size (pad) {
            bottom: 35px;
            left: 50%;
            margin: 0;
            position: relative;
        }
    }

    &__button-online-bottom {
        @include online-challenges;
        @include screen-size(pad) {
            @include buttons(red);
            bottom: 83px;
            left: -170px;
            padding-left: 57px;
            padding-right: 58px;
            position: relative;
        }
    }

}

.customer-quotes {
    display: flex;
    margin-top: 67px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    justify-content: center;

    &__item {
        padding: 20px;
    }

    &__item:nth-child(2) {
        display: none;
        @include screen-size (pad) {
            display: initial;
        }
    }
}

.customer-quote-card {
    display: flex;
    text-align: left;
    
    blockquote {
        margin: 0;
        max-width: 75ch;
        padding-right: 10px;
        
    }

    &__quoter-picture { 
        padding-right: 10px;
    }

    &__p {
        display: inline-block;
        font-size: 1.8rem;
        margin-top: 5px;        
    }

    &__cite {
        font-size: 2.4rem;
    }
}

.room-holding {
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    @include screen-size (pad) {
        margin-bottom: 200px;
    }
}

.room-holding::-webkit-scrollbar {
    display: none;
}

.room-cards {
    display: flex;
    margin: auto;
    padding: 0 30px;

    &__li {
        padding: 20px;
    }
}

.room-card {
    height: 446px;
    width: 363px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    &__img {
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }
}

.room-description {
    margin: 12px 17px 61px 17px;
    color: black;
    text-align: left;

    &__heading {
        font-size: 2.8rem;
        font-weight: 400;
        margin: 0;
    }

    &__review-stars {
        display: flex;
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        font-size: 1.4rem;
    }

    &__review-star {
        margin: 4.5px;
    }
    
    &__review-participants {
        margin-left: 10px;
        margin-top: 5px;
    }

    &__description {
        font-size: 1.8rem;
    }

    &__button {
        @include buttons(red-small);
        position: relative;
        bottom: -15px;
        left: 134px;
    }
}

.company-story {
    background-color: color(primary-blue);
    padding: 90px 20px 90px;
    text-align: center;

    &__story {
        color: color(primary-white);
        font-size: 2.8rem;
        margin: auto;
        max-width: 40ch;
    }

    &__button {
        @include buttons(on-dark);
        display: block;
        margin: 50px auto 0;

    }
}

.product-showcases {
    display: grid;
    grid-template-columns: 1fr;

    @include screen-size (pad) {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 180px;
    }

    &__img {
        margin: 0 auto;
        width: 100%;
        object-fit: fill;
    }

    &__img--booking {
        @include screen-size (pad) {
        grid-column: 1/1;
        grid-row: 1/1;
        }
    }

    &__img--challenges {
        @include screen-size (pad) {
        grid-column:  2/2;
        grid-row: 2/2;
        }
    }
}

.showcase {
    margin:auto;
    max-width: 75ch;
    padding: 0 20px;
    text-align: left;

    &__heading {
        font-size: 3.2rem;
        font-weight: weight(bold);
        @include screen-size (pad) {
            margin-bottom: 10px;
        }
    }

    &__text {
        font-size: 2.4rem;
        max-width: 40ch;
        @include screen-size (pad) {
            margin-top: 0px;
        }
    }

    &__button-book-on-site {
        @include buttons(red);
        display: block;
        margin: 50px 0;
        max-width: 15ch;
        padding-left: 52px;
        padding-right: 53px;
        @include screen-size(pad){
            margin-top: 30px;
        }
    }

    &__button-see-challenges {
        @include buttons(red);
        display: block;
        margin: 50px 0;
        max-width: 15ch;
        padding-left: 55px;
        padding-right: 57px;
        @include screen-size(pad){
            margin-top: 30px;
        }
    }
}

.showcase--booking {
    @include screen-size (pad) {
        grid-column: 2/2;
        grid-row: 1/1;
    }
}

.showcase--challenges {
    @include screen-size (pad) {
        grid-column: 1/1;
        grid-row: 2/2;
    }
}

.footer {
    background-color: color(primary-blue);
    color: color(primary-white);
    font-size: 1.8rem;
    padding: 21px;
}

.company-description {
    &__heading {
        font-weight: weight(bold);
        margin-bottom: 5px;
        margin-top: 50px;
    }

    &__story{
        margin: 0 0 40px 0;
    }
}

.footer-nav {
    &__site-map-heading {
        font-weight: weight(bold);
        margin-bottom: 5px;
    }

    &__social-media-heading {
        font-weight: weight(bold);
        margin-bottom: 5px;
        margin-top: 40px;
    }
}

.site-maps {
    margin-top: 0;
    padding: 0;

    &__item:nth-child(3) {
        margin-bottom: 2rem;
    }

    &__link {
        color: color(primary-white);
        text-decoration: none;
    }
}

.social-medias {
    margin-bottom: 50px;
    margin-top: 0;
    padding: 0;

    &__link {
        color: color(primary-white);
        text-decoration: none;
    }
}