@import './variables';
@import './functions';
@import './mixins';
@import './header';
@import './main_room-challenges';
@import './main_quotes-card';
@import './main_room-cards';
@import './main_company-story';
@import './main_product-cases';
@import './footer';

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    background-color: color(primary-white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

.main {
    margin: 0;
}

.main-top-figure {
    margin: 0;
    overflow: hidden;
    max-height: 468px;

    &__img {
        width: 100%;
    }
}



