@import './variables';
@import './functions';
@import './mixins';



html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    background-color: color(primary-white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

a:hover {
    cursor: pointer;
}

.overlay {
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.hidden {
    display: none;
}

@import './header';

.main {
    margin: 0;
}

.main-top-figure {
    margin: 0;
    overflow: hidden;
    max-height: 468px;

    &__img {
        width: 100%;
    }
}

@import './main_room-challenges';
@import './main_quotes-card';
@import './main_room-cards';
@import './main_company-story';
@import './main_product-cases';
@import './footer';

