@import './variables';
@import './functions';
@import './mixins';

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    background-color: color(primary-white);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: color(primary-blue);
    padding: 27px;
}

.head-banner {
    display: flex;

    &__logo {
        height: 82px;
        width: 128px;
    }

    &__site-heading {
        color: color(primary-white);
        font-size: 2.4rem;
        margin: 0px 10px;
        width: 7ch;
    }
}

.hamburger-figure {
    max-width: 52px;
    position: absolute;
    right: -10px;
    top: 18px;
}

.site-menu {
    display: none;
}
